{$APP_DOMAIN}, user.{$APP_DOMAIN}, guest.{$APP_DOMAIN}, admin.{$APP_DOMAIN} {
	handle /api/* {
		reverse_proxy backend:5000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
