.titleBody {
    width: fit-content;
    font-family: var(--heading);
    font-size: 40px;
}
.textBody {
    color: var(--letters-over-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* company */
.company {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.companyName {
    width: fit-content;
    font-family: var(--heading);
    font-size: 30px;
}

.companyNameLink {
    text-decoration: underline;
}

.companyNameLink:hover {
    cursor: pointer;
    color: var(--hyperlink-hover);
}

.companyPosition {
    font-size: 25px;
}

.companyBulletsBody {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
}

.companyBullet {
    display: list-item;
    list-style-position: inside;
    text-align: justify;
    line-height: 1.7;
}

/* Utils */
.placeYearContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.placeYearSubContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}
