.layoutShell {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.layoutContent {
    flex: 1;
    padding: var(--layout-padding-top) var(--layout-padding-right) var(--layout-padding-bottom)
        var(--layout-padding-left);
}
