.layoutContent {
    display: grid;
    place-items: center;
}

.body {
    width: min(1100px, 100%);
    margin: 0 auto;
    /* 100vh - navbar - layout top padding */
    min-height: calc(100vh - var(--navbar-height) - 32px);
}

.findMeButtons {
}

.findMeButtons:hover {
    cursor: pointer;
    color: var(--palette-color-c-90);
}

.seperator {
    border: 1px solid var(--nav-text, #1a1a1a);
    min-height: stretch;
}

.name {
    font-size: larger;
    letter-spacing: 0.3px;
}
