.layoutContent {
    display: flex;
}

.body {
    width: min(1100px, 100%);
    max-width: 100%;
    min-width: 0;
    margin: 0 auto;

    min-height: var(--layout-height);
}

.seperator {
    width: 1px;
    height: 24px;
    margin: 0 4px;
    background: var(--nav-divider);
}

.name {
    font-size: larger;
    letter-spacing: 0.3px;
}
